Repository mash-up-kr/DHC-SERVER, pull requests merged in 2025-05, with the labels that each got.

#6 테스트파일 삭제
  test
Labels: Feature, Test

#20 Terraform 추가, .tf EditorConfig 추가
  .editorconfig
  .gitignore
  terraform/README.md
  terraform/main.tf
  terraform/modules/acg/main.tf
  terraform/modules/acg/outputs.tf
  terraform/modules/acg/variables.tf
  terraform/modules/acg/versions.tf
  terraform/modules/server/main.tf
  terraform/modules/server/outputs.tf
  terraform/modules/server/spec/all_rockylinux_products.json
  terraform/modules/server/spec/all_server_images.json
  terraform/modules/server/spec/all_server_specs.json
  terraform/modules/server/spec/main.tf
  terraform/modules/server/spec/outputs.tf
  terraform/modules/server/spec/variables.tf
  terraform/modules/server/spec/versions.tf
  terraform/modules/server/variables.tf
  terraform/modules/server/versions.tf
  terraform/modules/subnet/main.tf
  terraform/modules/subnet/outputs.tf
  terraform/modules/subnet/variables.tf
  terraform/modules/subnet/versions.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variables.tf
  terraform/modules/vpc/versions.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/variables.tf
  terraform/versions.tf
Labels: Configuration, Chore

#21 기본 프로젝트 설정 추가
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/com/mashup/dhc/Application.kt
  src/main/kotlin/com/mashup/dhc/domain/model/Mission.kt
  src/main/kotlin/com/mashup/dhc/domain/model/PastRoutineHistory.kt
  src/main/kotlin/com/mashup/dhc/domain/model/User.kt
  src/main/kotlin/com/mashup/dhc/domain/service/TransactionService.kt
  src/main/kotlin/com/mashup/dhc/domain/service/UserService.kt
  src/main/kotlin/com/mashup/dhc/plugins/Routing.kt
  src/main/kotlin/com/mashup/dhc/routes/Routes.kt
  src/main/kotlin/com/mashup/dhc/utils/Money.kt
  src/main/resources/application.yaml
  src/test/kotlin/com/mashup/dhc/domain/model/BaseMongoDBTest.kt
  src/test/kotlin/com/mashup/dhc/domain/model/EmbeddedMongoDBExtension.kt
  src/test/kotlin/com/mashup/dhc/domain/model/PastPastRoutineHistoryRepositoryTest.kt
  src/test/kotlin/com/mashup/dhc/domain/model/UserRepositoryTest.kt
  src/test/kotlin/com/mashup/dhc/domain/service/UserServiceTest.kt
  src/test/resources/application-test.yml
Labels: Deployment
