Repository mash-up-kr/DHC-SERVER, pull requests merged in 2025-07, with the labels that each got.

#54 Image URL 확장자 타입 추가
  src/main/kotlin/com/mashup/dhc/domain/model/Mission.kt
  src/main/kotlin/com/mashup/dhc/routes/Response.kt
  src/main/kotlin/com/mashup/dhc/routes/Routes.kt
  src/main/kotlin/com/mashup/dhc/utils/ImageFormat.kt
  src/main/kotlin/com/mashup/dhc/utils/ImageUrlMapper.kt
Labels: Refactoring, Deployment

#55 [회원탈퇴 화면] 회원 탈퇴에 앱 정보와 탈퇴 가이드 이미지 추가
  src/main/resources/static/account-deletion.html
  src/main/resources/static/deletion_guide.png
Labels: Feature, Fix, Deployment

#56 금전운 API 응답 포맷 변경
  src/main/kotlin/com/mashup/dhc/domain/model/FortuneModels.kt
  src/main/kotlin/com/mashup/dhc/routes/Response.kt
  src/main/kotlin/com/mashup/dhc/routes/Routes.kt
Labels: Deployment

#57 문서 업데이트 및 직렬화 오류 픽스
  src/main/kotlin/com/mashup/dhc/domain/model/FortuneModels.kt
  src/main/resources/openapi/documentation.yaml
Labels: Documentation, Fix, Deployment

#58 `IndexOutOfRange` 오류 픽스
  src/main/kotlin/com/mashup/dhc/routes/Routes.kt
Labels: Fix, Deployment
